<html>
<head>
    <title>Mosaic creator</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form enctype="multipart/form-data" action="/mosaic" method="post">
    <div class="container">
	    <h4>Photo to upload:</h4>
	    <input type="file" name="file" />
	    <br />
	    <span>How many tiles along the edge:</span>
	    <select name="tiles" required>
	      <option value="50">50</option>
	      <option value="70">70</option>
	      <option value="100">100</option>
	      <option value="130">130</option>
	    </select>
	    <br />
	    <input type="submit" value="upload" />
    </div>
</form>
</body>
</html>
